body {
    margin: 0;
    padding: 0;
    background-color: rgb(204,255,255);
    font-family: "Lucida Grande", "Helvetica Neue", Roboto, "Droid Sans", Prelude, Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #334;
}

section.congratulations {
    display: block;
    padding: 50px;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 0;
    right: 70%;
    bottom: 0;
    background-color: #79b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99bbdd', EndColorStr='#7799bb');
}

section.instructions {
    display: block;
    padding: 50px;
    text-align: left;
    background-color: rgb(204,217,229);
    position: absolute;
    top: 20%;
    left: 30%;
    right: 0;
    bottom: 0;
}

table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}

.header img {
  float: left;
}
